

   
    <div class="form-group">

        <div class="col-xs-6">
            @Html.DropDownList("crs", ViewBag.crs as SelectList, new { @class = "form-control", id = "myList4" })
        </div>
    </div>



