
    <div class="form-group">

        <div class="col-xs-6">
            @Html.DropDownList("ins", ViewBag.ins as SelectList, new { @class = "form-control", id = "myList4" })
        </div>
    </div>




